* {
  box-sizing: border-box;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::: BODY*/
body {
  background-color: whitesmoke;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: black;
}

/* :::::::::::::::::::::::::::::::::::::::::::::: HEADER */
header {
  background-color: teal;
  padding: 10px 0 4px;
  width: 100%;
  height: auto;
}

/* :::::::::::::::::::::::::::::::::::::::::::::: NAVIGATION */
nav>ul {
  list-style-type: none;
  padding: 15px 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: whitesmoke;
}

nav>ul>li>a:visited {
  color: whitesmoke;
}

* nav>ul>li>a:hover,
nav>ul>li>a:focus {
  color: black;
  text-decoration: none;
}

nav>ul>li>a:active {
  color: black;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .menuIcon {
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 35px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(191, 255, 255, 0.8);
}

.menuIcon:focus {
  color: whitesmoke;
}

#hero {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
  background-color: whitesmoke;
  color: black;
  margin: 10px 0 10px;
  display: inline-block;
  width: 100%;
  text-align: left;
}

.heroInfo {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.6;
  background-color: whitesmoke;
  color: black;
  display: inline-block;
  width: 66%;
  padding-top: 50px;
  text-align: left;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::: LOGO */
/*.logo {
  float: left;
}*/
.logo img {
  max-width: 125px;
  margin-top: 20px;
}

/* :::::::::::::::::::::::::::::::::::::::::::: TYPOGRAPHY */
h1, h2, h3, h4 {
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0;
}

#hero h1 {
  font-size: 50px;
  font-weight: 400;
  text-align: left;
  line-height: 1.1;
  color: teal;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: black;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

h4 {
  font-size: 1.15em;
  font-weight: 400;
  color: black;
}

h5 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: left;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 18px;
  text-align: left;
}

img {
  width: 100%;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::: LINKS */
a {
  color: black;
  text-decoration: none;
}

a:hover,
a:focus {
  color: black;
  text-decoration: underline;
}

a:active {
  color: black;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::: BUTTONS */
.button {
  display: inline-block;
  background-color: teal;
  color: whitesmoke;
  font-weight: 400;
  padding: 10px;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: whitesmoke;
  color: teal;
  border: 2px solid teal;
  opacity: 0.8;
  text-decoration: none;
}

.button:visited {
  background-color: teal;
  color: whitesmoke;
}

.button:visited:hover {
  background-color: whitesmoke;
  color: teal;
}

.button:active {
  opacity: 0.2;
  text-decoration: none;
}

/* :::::::::::::::::::::::::::::::::::::::::::: LAYOUT STYLING */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  text-align: center;
}

.workpad {
  padding-top: 11px;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #2c4e58;
}

.row.divider {
  padding-bottom: 25px;
  border-bottom: 1px solid #2c4e58;
}

footer {
  text-align: center;
  background-color: whitesmoke;
  padding: 10px;
}

.button.contact {
  background-color: teal;
  color: whitesmoke;
  text-transform: uppercase;
  border: 2px solid whitesmoke;
  margin-bottom: 10px;
}

.button.contact:hover {
  background-color: #121212;
  color: teal;
  border: 2px solid #121212;
}

.button.contact:active {
  background-color: whitesmoke;
  color: whitesmoke;
}

.social {
  text-align: center;
}

.social a {
  display: inline-block;
  margin: 0 5px;
}

.social img {
  width: 40px;
  height: auto;
}

.copyright {
  color: black;
  text-align: center;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::: MISC*/
.title {
  text-align: center;
}

.ryknow {
  text-align: center;
}

.ryknow img {
  max-width: 1000px;
  height: auto;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE DESIGN */
/* Medium devices (640px and larger) */
@media only screen and (min-width: 641px) {
  nav>ul>li {
    display: inline-block;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 15px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive li {
    padding: 0;
    border-top: none;
  }

  .logo {
    float: left;
  }

  .logo img {
    min-width: 200px;
    max-width: 225px;
    margin-bottom: 15px;
  }

  header div::after {
    content: "";
    clear: both;
    display: table;
  }

  #hero h1 {
    font-size: 80px;
    font-weight: 400;
    text-align: left;
    line-height: 1.1;
  }

  #hero span {
    display: block;
  }

  body {
    font-size: 18px;
  }

  p {
    font-size: 22px;
  }

  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 20px;
  }

  [class*="col-"]:first-child {
    padding-left: 0;
  }

  [class*="col-"]:last-child {
    padding-right: 0;
  }
}

/* Large devices (1024px or larger) */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .navtoggle.responsive nav {
    padding: 0 0 0;
  }

  .logo {
    float: left;
  }

  .logo img {
    min-width: 200px;
    max-width: 225px;
    margin: 4px 0;
  }

  header div::after {
    content: "";
    clear: both;
    display: table;
  }

  #hero h1 {
    font-size: 80px;
    font-weight: 400;
    text-align: left;
    line-height: 1.1;
  }

  #hero span {
    display: block;
  }

  body {
    font-size: 18px;
  }

  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 91.66%;
  }

  .col-lg-12 {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 20px;
  }

  [class*="col-"]:first-child {
    padding-left: 0;
  }

  [class*="col-"]:last-child {
    padding-right: 0;
  }
}

/* X-Large devices (1440px or larger) */
@media only screen and (min-width: 1440px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .navtoggle.responsive nav {
    padding: 0 0 0;
  }

  .logo {
    float: left;
  }

  .logo img {
    min-width: 200px;
    max-width: 225px;
    margin: 4px 0;
  }

  header div::after {
    content: "";
    clear: both;
    display: table;
  }

  #hero h1 {
    font-size: 80px;
    font-weight: 400;
    text-align: left;
    line-height: 1.1;
  }

  #hero span {
    display: block;
  }
}

/* ::::::::::::::::::::::::::::::::::::: ABOUT SECTION */
.story {
  padding-left: 10px;
  padding-right: 10px;
}

.narrowrow {
  max-width: 880px;
  margin: 0 auto;
}

/**************************************** FORM */
form {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li+li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;
  /* Provide space to type some text */
  height: 5em;
}

.button.contact {
  background-color: teal;
  color: whitesmoke;
  text-transform: uppercase;
  border: 2px solid whitesmoke;
  margin-bottom: 10px;
  }

.button.contact:hover {
  background-color: #121212;
  color: teal;
  border: 2px solid #121212;
}

.button.contact:active {
  background-color: whitesmoke;
  color: whitesmoke;
}

/* ::::::::::::::::::::::::::::::::::::: COLOR PALETTE */
/* Color: teal/ #008080
Font: Aileron
Text: black
Background: whitesmoke/ #F5F5F5*/
