* {
  box-sizing: border-box;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::: BODY*/
body {
  background-color: #121212;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #f0f0f2;
}

/* :::::::::::::::::::::::::::::::::::::::::::::: HEADER */
header {
  background-color: #C64747;
  padding: 10px 0 4px;
  width: 100%;
  border-bottom: 3px solid #C64747;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.75);
  position: relative;
}

/* :::::::::::::::::::::::::::::::::::::::::::::: NAVIGATION */
nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f0f0f2;
}

nav>ul>li>a:visited {
  /* visited link */
  color: ghostwhite;
}

nav>ul>li>a:hover,
nav>ul>li>a:focus {
  color: gold;
  text-decoration: none;
  /* Underlining when hovering over a link */
}

nav>ul>li>a:active {
  /* selected link */
  color: gold;
}

nav>ul>li>a.active {
  /* selected link */
  color: gold;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .menuIcon {
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.menuIcon:focus {
  color: ghostwhite;
}

#hero {
  background-color: #121212;
  color: ghostwhite;
  margin: 0 0 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::: LOGO */
/*.logo {
  float: left;
}*/
.logo img {
  max-width: 75px;
  margin: 5px 0;
}

.logo a {
  display: inline-block;
  margin: 0 5px;
}

/* :::::::::::::::::::::::::::::::::::::::::::: TYPOGRAPHY */
h1, h2, h3, h4 {
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0;
}

#hero h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.15em;
  font-weight: 400;
  color: gold;
}

img {
  width: 100%;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::: LINKS */
a {
  color: ghostwhite;
  text-decoration: none;
  /* No underlining */
}

/*a:visited {
color: ghostwhite;
} */
a:hover,
a:focus {
  color: gold;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: gold;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::: BUTTONS */
.button {
  display: inline-block;
  background-color: #C64747;
  color: ghostwhite;
  font-weight: 400;
  padding: 10px;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #121212;
  color: #C64747;
  border: 2px solid #C64747;
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:visited {
  background-color: #C64747;
  color: ghostwhite;

}

.button:visited:hover {
  background-color: #121212;
  color: #C64747;
}

.button:active {
  opacity: 0.2;
  text-decoration: none;
}

/* :::::::::::::::::::::::::::::::::::::::::::: LAYOUT STYLING */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right*/
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  text-align: center;
}

.workpad {
  padding-top: 11px;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid ghostwhite;
}

.row.divider {
  padding-bottom: 25px;
  border-bottom: 1px solid ghostwhite;
}

footer {
  text-align: center;
  background-color: #121212;
  padding: 10px;
}

.button.contact {
  background-color: transparent;
  color: ghostwhite;
  text-transform: uppercase;
  border: 2px solid #C64747;
}

.button.contact:hover {
  background-color: #C64747;
  color: ghostwhite;
  border: 2px solid #C64747;
}

.button.contact:active {
  background-color: #C64747;
  color: ghostwhite;
}

.social {
  text-align: center;
}

.social a {
  display: inline-block;
  margin: 0 5px;
}

.social img {
  width: 40px;
  height: auto;
}

.copyright {
  color: gold;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::: MISC*/
.title {
  text-align: center;
}

.ryknow {
  text-align: center;
}

.ryknow img {
  max-width: 1000px;
  height: auto;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE DESIGN */
/* Medium devices (640px and larger) */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  /*@media only screen and (min-width: 641px) {
    .logo {
      max-width: 250px;
    }*/
  nav>ul>li {
    display: inline-block;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive li {
    padding: 0;
    border-top: none;
  }

  .logo {
    float: left;
  }

  .logo img {
    min-width: 150px;
  }

  header div::after {
    content: "";
    clear: both;
    display: table;
  }

  #hero span {
    display: block;
  }

  body {
    font-size: 18px;
  }

  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 20px;
  }

  [class*="col-"]:first-child {
    padding-left: 0;
  }

  [class*="col-"]:last-child {
    padding-right: 0;
  }
}

/* Large devices (1024px or larger) */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .navtoggle.responsive nav {
    padding: 0 0 0;
  }

  .logo {
    float: left;
  }

  .logo img {
    width: 150px;
  }

  header div::after {
    content: "";
    clear: both;
    display: table;
  }

  #hero span {
    display: block;
  }

  body {
    font-size: 18px;
  }

  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 91.66%;
  }

  .col-lg-12 {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 20px;
  }

  [class*="col-"]:first-child {
    padding-left: 0;
  }

  [class*="col-"]:last-child {
    padding-right: 0;
  }
}

/* X-Large devices (1440px or larger) */
@media only screen and (min-width: 1440px) {}

/* ::::::::::::::::::::::::::::::::::::: ABOUT SECTION */
.button.resume {
  background-color: #C64747;
  color: ghostwhite;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #C64747;
}

.story {
  padding-left: 10px;
  padding-right: 10px;
}

.narrowrow {
  max-width: 880px;
  margin: 0 auto;
}
/*:::::::::::::::::::::::::::::::::::: SAMPLE ANIMATION::::*/
.sample {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/*font Placeholder*/
/*font-weight: bold; (emboldens a font, although it’s better to use the weight as set in the font link: 300, 400, or 700)
font-style: italic; (italicizes a font, though make sure you selected it in Google fonts, as well)
font-variant: small-caps; (transforms all lowercase letters into small caps—uppercase letters set at the same height as their surrounding lowercase letters)
text-transform: uppercase; (transforms all letters to uppercase so that you don’t need to write all uppercase in your HTML)
text-decoration: underline;  (underlines a piece of text)
*/
/*
colors used;
Primary Color (Blue): #05676e;
Secondary Color (Green): #0489c79;
*/
