* {
  box-sizing: border-box;
}

/* Layout Styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right*/
}

.center {
  text-align: center;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid indianred;
}

body {
  background-color: #121212;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #f0f0f2;
}

header {
  background-color: indianred;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  border-bottom: 3px solid indianred;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.75);
  position: relative;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f0f0f2;
}

nav>ul>li>a:visited {
  /* visited link */
  color: ghostwhite;
}

nav>ul>li>a:hover,
nav>ul>li>a:focus {
  color: gold;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

nav>ul>li>a:active {
  /* selected link */
  color: gold;
}

#hero {
  background-color: indianred;
  margin: 0px 0 20px;
  display: inline-block;
  width: 100%;
}

.logo {
  text-align: center;
}

.logo img {
  max-width: 250px;
}

.logo a {
  display: inline-block;
  margin: 0 5px;
}

.logo svg {
  width: 50px;
  height: auto;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

#hero h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: ghostwhite;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: ghostwhite;
}

a:hover,
a:focus {
  color: gold;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: gold;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: ghostwhite;
  color: indianred;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid indianred;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  opacity: 0.2;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: snow;
  text-transform: uppercase;
  border: 2px solid royalblue;
}

.button.contact:hover {
  background-color: snow;
  color: purple;
  border: 2px solid purple;
}

.button.contact:active {
  background-color: lightcyan;
  color: lightcyan;
}

footer {
  text-align: center;
  background-color: #121212;
  padding: 10px;
}

.social {
  text-align: center;
}

.social a {
  display: inline-block;
  margin: 0 5px;
}

.social svg {
  width: 50px;
  height: auto;
}

/*about section*/
/*font Placeholder*/
/*font-weight: bold; (emboldens a font, although it’s better to use the weight as set in the font link: 300, 400, or 700)
font-style: italic; (italicizes a font, though make sure you selected it in Google fonts, as well)
font-variant: small-caps; (transforms all lowercase letters into small caps—uppercase letters set at the same height as their surrounding lowercase letters)
text-transform: uppercase; (transforms all letters to uppercase so that you don’t need to write all uppercase in your HTML)
text-decoration: underline;  (underlines a piece of text)
*/
/*
colors used;
Primary Color (Blue): #05676e;
Secondary Color (Green): #0489c79;
*/
